<extend name="./Application/Admin/View/Basic/edit.html" />
<block name="title">后台管理-修改密码</block>
<block name="main-title">修改密码</block>
<block name="contentTab">
	<ul class="nav nav-tabs" role="tablist">
	  <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">基本信息</a></li>
	</ul>
</block>
<block name="mainMiddle">
	<!-- Tab panes -->
	<form class="tab-content form-horizontal" role="form" id="contentForm">
	  <div role="tabpanel" class="tab-pane active" id="home">
	  	  <div class="form-group"></div>
		  <div class="form-group">
		    <label for="password1" class="col-sm-2 control-label"><span style="color:red;">*</span> 新密码</label>
		    <div class="col-sm-2">
		      <input type="password" class="form-control" id="password1" name="password1" placeholder="密码长度为6-16个字符">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="password2" class="col-sm-2 control-label"><span style="color:red;">*</span> 确认密码</label>
		    <div class="col-sm-2">
		      <input type="password" class="form-control" name="password2" placeholder="再一次输入密码">
		    </div>
		  </div>
	  </div>
	</form>
</block>
<block name="content-bottom">
	<div id="divControl">
		<button type="submit" class="btn btn-success btn-lg" id="btnSave">保 存</button>
		<span id="validateMsg" class="is-error"></span>
	</div>
</block>

<block name="js">
	<script type="text/javascript" src="/statics/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="/statics/ueditor143/ueditor.config.js"></script>
    <script type="text/javascript" src="/statics/ueditor143/ueditor.all.js"></script>   
	<script type="text/javascript">
	$(function(){ 
		NavTabsSelect(2);
		LeftMenuSelect(2,1);
		TipSet(TipShow3);

		$contentForm.validate({
			ignore: [],
			errorClass : 'is-error',
			showErrors : function(errorMap, errorList) {
				if (this.numberOfInvalids() > 0) {
					$validateMsg.html(this.numberOfInvalids() + '处信息填写有误！')
							.show();
					this.defaultShowErrors();
				} else {
					$validateMsg.hide();
				}
			},
			rules : {
				password1 :{
						required:true,
					    minlength: 6,
					    maxlength:16
				    },
				password2:{
					equalTo:'#password1'
					}
			},
			messages : {
				password1 : '密码长度为6-16个字符',
				password2 : '两次密码输入不一致'
			}
		});
	});
	</script>
</block>	