<extend name="./Application/Home/View/Basic/index.html" />
<block name="content">
	<div class="container-fluid"  id="main">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1">
				<ul id="list">
					<foreach name="result" item="item" key="i">
						<li class="listItem">
							<a href="/Home/Index/look/id/{$item.id}" target="_blank">
								<img class="img" src="/statics/img/zw.gif" alt="{$item.title}" data-original="{$item.imgLink}"/>
							</a>
							<p class="info">{$item.title}</p>
						</li>
					</foreach>
				</ul>
			</div>
		</div>
	</div>
</block>
<block name="JS">
	<script type="text/javascript">
		$(function(){
	    	$('.img').lazyload({
	        	effect: 'fadeIn',
	        	threshold : 200
	    	});   
	        	
	        $('.ribbon').click(function(){
	        	$('#contactModal').modal('show');
	        });
		});
	</script>
</block>
