<extend name="./Application/Home/View/Basic/index.html" />
<block name="content">
	<div class="container-fluid"  id="main" class="look">
		<div class="row">
			<div class="col-md-8 col-md-offset-1 lookContent">
				<h1 class="title">{$result.title}</h1>
				<h2 class="subTitle">类别：{$categoryTitle}</h2>
				<div>{$result.contents}</div>
			</div>
			<div class="col-md-2 lookList">
				<h2>同类推荐</h2>
					<ul id="list">
						<foreach name="list" item="item" key="i">
							<li class="listItem">
								<a href="/Home/{$item.id}/{$item.title}">
									<img class="img" src="/statics/img/zw.gif" alt="{$item.title}" data-original="{$item.imgLink}"/>
								</a>
								<p class="info">{$item.title}</p>
							</li>
						</foreach>
					</ul>
			</div>
		</div>
	</div>
</block>
<block name="JS">
	<script type="text/javascript">
		$(function(){
			//图片延迟
	    	$('.img').lazyload({
	        	effect: 'fadeIn',
	        	threshold : 200
	    	});   
	        	
	    	//联系我们
	        $('.ribbon').click(function(){
	        	$('#contactModal').modal('show');
	        });
	        
	        //联系我们
	        $('.navContact').click(function(){
	        	$('#contactModal').modal('show');
	        });
	        
	        //业务范围
	        $('.navBusiness').click(function(){
	        	$('#businessModal').modal('show');
	        });
	        
	        //logo动画
	        $(".navbar-brand").hover(function(){
	        	$(this).animate({'transform':'rotate(-20deg)'} , 500);
	        },
	        function(){
	        	$(this).animate({'transform':'rotate(360deg)'} , 500);
	        });
		});
	</script>
</block>